<section>
  <div class="text-white">
    <header
      class="bg-dark d-flex flex-wrap align-items-space-between justify-content- justify-content-md-between py-3 mb-4 border-bottom"
    >
      <ul
        class="nav col-12 col-md-auto mb-2 justify-content-flex-start mb-md-0"
      >
        <li>
          <a href="/" class="text-white nav-link">Hack the blog</a>
        </li>
      </ul>

      <div class="col-md-auto text-end me-5 mb-2 justify-content-flex-start">
        <% if(user) { if (user.role.code >= 100){ %>

        <a href="/logout" class="btn btn-success">logout</a>

        <% } } %> <% if(user) { if (user.role.code >= 200){ %>
        <a href="/admin" class="btn btn-primary">Admin</a>
        <% } } %>
      </div>
    </header>
  </div>
</section>
