<section>
  <div class="text-white">
    <header
      class="bg-dark d-flex flex-wrap align-items-space-between justify-content- justify-content-md-between py-3 mb-4 border-bottom"
    >
      <ul
        class="nav col-12 col-md-auto mb-2 justify-content-flex-start mb-md-0"
      >
        <li>
          <a href="#" class="text-white nav-link">Hack the blog</a>
        </li>
      </ul>

      <div class="col-md-3 text-end me-5">
        <button type="button" class="btn btn-primary">Admin</button>
      </div>
    </header>
  </div>
</section>
